<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONNEXION</title>
    <link rel="stylesheet" href="<%= css %>" />
  </head>
  <body>
    <div class="container">
      <div
        id="loading-container"
        class="d-flex justify-content-center align-items-center"
      >
        <div class="spinner-border" role="status"></div>
      </div>

      <div id="main-container">
        <!-- class="invisible">-->
        <div>
          <form id="config" method="POST">
            <!-- NAME -->
            <div class="mb-3">
              <label for="name" class="form-label">Nom de la station</label>
              <input id="name" type="text" class="form-control"/>
            </div>
            <!-- /NAME -->

            <!-- DESCRIPTION -->
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <textarea id="desc" type="text" class="form-control"></textarea>
            </div>
            <!-- /DESCRIPTION -->

            <!-- GPS -->
            <div id="gps-module" class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Longitude">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Latitude">
              </div>
            </div>
            <!-- /GPS -->

            <div>
              <input class="btn btn-md btn-primary btn-block" type="submit" value="Sauvegarder"/>
              <!--<button type="button" class="btn btn-md btn-secondary">Reset</button>-->
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="<%= js %>"></script>
  </body>
</html>
